@media only screen and (orientation: landscape) {/*(min-width: 1000px) {*/
    :root {
	/* If we use percent, then the attributes of the screen don't
	   matter. And if we put it in the :root tag, all the attributes will
	   apply to the whole page. */
	margin-left: 22%;
	margin-right: 20%;
    }
}

p {
    font-family: "Segoe UI", "Noto Sans", sans-serif;
}

ul {
    font-family: "Segoe UI", "Noto Sans", sans-serif;
}
ol {
    font-family: "Segoe UI", "Noto Sans", sans-serif;
}
dl {
    font-family: "Segoe UI", "Noto Sans", sans-serif;
}
dt {
    font-family: "Segoe UI", "Noto Sans", sans-serif;
    /* Override the default "normal" of font-family. */
    font-weight: bold;
}

.caption {
    /* center the captions relative to the page (though one wonders if
       they should be centered relative to the image) */
    text-align: center;
    font-family: "Segoe UI", "Noto Sans", sans-serif;
    font-style: italic;
}
img {
    /* Center the image */
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; /* Keep an image within the margins if it's too big*/
}

/* We'll probably need this at some point, but for now we're just
   writing C code and Prism is sufficient (if only it had a Z80
   mode...maybe we do that ourselves).
*/
/*.codeblock {
    font-family: "JetBrains Mono", "Courier New", "DejaVu Sans Mono", monospace;
    font-size: .9em;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(0,30,150);
    /* This color is mostly grey, with a slight tinge of blue. It matches
   the border color nicely. 
    background: rgb(190,200,255);
}*/

h1 {
    font-family: "Noto Sans", sans-serif;
}

h2 {
    font-family: "Noto Sans", sans-serif;
}

h3 {
    font-family: "Noto Sans", sans-serif;
}
    
